<h1>My todo List</h1>
<%= link_to "New Task", new_task_path %>

<table>
  <thead>
    <tr>
      <th>title</th>
      <th>date</th>
      <th>recurrence</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.due_date.strftime("%m/%d") %></td>
        <td><%= task.recurrence %></td>
      </tr>
    <% end %>
  </tbody>
</table>
