/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */


@import "components/new.css";
@import "components/dialog.css";

body {
  height: 110vh;
  margin: 100px 52px;
  background-color: black;
  box-sizing: border-box;
}

.main-head {
  display: flex;
  align-items: center;
  gap: 20px;
}

h1, h2 {
  color: white;
}

h2 {
  text-align: right;
}

a {
  text-decoration: none;
}

.new_task {
  background-color: #afb2b24f;
  padding: 10px;
  border-radius: 50%;
}

.new_task:hover {
  background-color: white;
}

.tasks-container {
  margin: 0 26px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

form div {
  margin-bottom: 12px;
}

.day {
  border: 1px solid #ccc;
  padding: 0 6px;
  background-color: #313131;
}

.task {
  background-color: #c2fff9;
  padding: 4px 6px;
  border-radius: 4px;
}

.mark_completed {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 16px 0;

  .task {
    flex: 1;
    margin: 0;
    background-color: #b1f9f2;
  }

  .task:hover {
    background-color: #9ff0e8;
  }

  .x-btn {
    cursor: pointer;
    border: none;
    font-weight: bold;
    width: 24px;
    height: 24px;
    color: red;
    background-color: transparent;
    font-size: 16px;
  }
}

#completed {
  color: red;
  text-decoration: line-through;
}
